@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Poppins|Source+Sans+Pro|Montserrat:400,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

:root {
  --black: #1f1f1f;
  --white: #fff;
  --yellow: #ffc554;
  --deep-yellow: #ffc727;
  --bg-yellow: #fffaf1;
  --btn-yellow: #fff4d4;
  --footer-yellow: #fff9e9;
  --grey: #737373;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --transition: all 0.2s linear;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  height: 100%;
}

section {
  padding: 2rem 9%;
}

.yellow {
  color:orangered;
}

.black{
  color:#737373;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 8%;
  height: 6rem;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  z-index: 1000;
}

.logo {
  font-size: 3.6rem;
  font-weight: 700;
}

.navbar a {
  font-weight: 500;
  transition: var(--transition);
  padding: 1rem;
  border-bottom: 2px solid transparent;
}

.navbar a:not(:last-child) {
  margin-right: 1rem;
}

.navbar a:hover {
  color: var(--yellow);
  border-color: var(--black);
}

.btn {
  display: inline-block;
  color: var(--yellow);
  background-color: var(--btn-yellow);
  padding: 1rem;
  border-radius: 0.5rem;
  transition: var(--transition);
}

.btn:hover {
  box-shadow: var(--box-shadow);
}



@media (max-width: 996px) {
  .logo {
    font-size: 3rem;
  }

  .navbar a {
    padding: 0.5rem;
  }

  .navbar a:not(:last-child) {
    margin-right: 0.5rem;
  }
}

@media (max-width: 768px) {
  .header .navbar {
    position: fixed;
    /* top: 9rem; */
    left: 0;
    right: 0;
    width: 90%;
    padding: 2.5rem;
    margin: 0 auto;
    box-shadow: var(--box-shadow);
    background-color: var(--deep-yellow);
    text-align: center;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    top: -100%;
  }

  .header .navbar a:last-child {
    display: none;
  }

  .header .hamburger {
    display: block;
  }

  .navbar.show {
    top: 9rem;
  }
}

* {
 
  box-sizing: border-box;
  font-family: "Source Sans Pro", "Poppins", sans-serif;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
}

.menu {
  font-family: sans-serif;
  font-size: 14px;
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 1.5em;
  border-bottom: 2px solid #ccc;
}

.menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu-item {
  display: flex;
}

.menu-item-img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  margin-right: 1.5em;
}

.menu-item-desc {
  line-height: 1.6;
}

@media screen and (min-width: 992px) {
  .menu {
    font-size: 16px;
  }

  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-img {
    width: 125px;
    height: 125px;
  }
}


.order-button {
  padding: 1px 5px;
  width: 100px;
  font-size: 18px;
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.order-button:hover {
  background-color: #ff5500;
}


.addtocart{
  display:block;
  padding:0.5em ;
  border-radius:100px;
  border:none;
  font-size:2em;
  position:relative;
  background:#0652DD;
  cursor:pointer;
  height:1em;
  width:5em;
  overflow:hidden;
  transition:transform 0.1s;
  z-index:1;
}
.addtocart:hover{
  transform:scale(1.1);
}
.pretext{
  color:#fff;
  background:#0652DD;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: 'Quicksand', sans-serif;
}
i{
  margin-right:10px;
}
.done{
  background:#be2edd;
  position:absolute;
  width:100%;
  top:0;
  left:0;
  transition:transform 0.3s ease;

  transform:translate(-110%) skew(-40deg);
}
.posttext{
  background:#be2edd;
}
.fa-check{
  background:#be2edd;
}
